body {
  font-family: Arial, sans-serif;
  text-align: center;
  background: #f3f3f3;
}

#board {
  width: 300px;
  height: 300px;
  margin: 20px auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 5px;
}

.cell {
  background: white;
  font-size: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 2px solid #444;
  height: 100px;
}

.cell:hover {
  background: #ddd;
}

#status {
  font-size: 1.4rem;
  margin: 10px 0;
}
