body {
  text-align: center;
  background: #70c5ce;
  font-family: Arial, sans-serif;
}

h1 {
  color: #fff;
}

canvas {
  background: #4ec0ca;
  border: 2px solid #000;
  display: block;
  margin: 0 auto;
}
